<h2>My Heroes</h2>
<ul class="heroes">
  <!--*ngFor on Angularin sisäänrakennettu silmukka. Tulostetaan tässä siis lista sankareista-->
  <!--class-binding tarkoittaa että css-tyyli sidotaan ehtoon ja jos ehto on tosi, niin tyyli tulee käyttöön.
  class.tyylinnimi="ehto"-->
  <li *ngFor="let hero of heroes" [class.selected]="hero === selectedHero" (click)="onSelect(hero)">
    <span class="badge">{{hero.id}}</span> {{hero.name}}
  </li>
</ul>

<!--selectedHero menee lapsikomponenttiin, sen hero-muuttujaan. Tämä on property-binding jolla tehdään 
  tiedon välitys äitikomponentista lapsikomonenttiin. Tämä on @Input lapsikomponenttiin-->
<app-hero-detail [hero]="selectedHero"></app-hero-detail>